/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.roles-container {
  display: flex;
  width: 100%;
}


.roles-content {
  flex-grow: 1; 
  display: flex;
  flex-direction: column; 
}

.roles-tabs {
  display: flex;
  gap: 10px; 
}

.roles-tabs ul {
  display: flex;
  gap: 10px; 
  padding: 0;
  list-style-type: none;
}

.roles-tabs li {
  padding: 10px 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.roles-tabs li:hover {
  background-color: #f0f0f0;
}

///

.list-roles-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.list-roles-table, .roles-th, .roles-td {
  border: 1px solid #ddd;
}

.list-roles-th, .roles-td {
  padding: 8px 12px;
  text-align: left;
}

.list-roles-th {
  background-color: #f4f4f4;
}

.list-roles-tr:hover {
  background-color: #f0f0f0;
}

/* Styles for the roles Create button */
.list-roles-button {
  padding: 8px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

.list-roles-button:hover {
  background-color: #0056b3;
}

.list-roles-button a {
  color: white;
  text-decoration: none;
}